*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    
}


body{

    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    
}

.padre{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    

}   
    /* --------------------------------------HEADER---------------------------------------- */

    .header{
       
        overflow:hidden; 
        background: rgb(0, 94, 0); 
        margin-bottom: 0px;
        max-height: 150px !important;
        /* NUEVO */
        display: flex;
        flex-flow: column nowrap;
        
        
        
    }

    .wrapper{
      

        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        height: 90px;
            
    }

    .header .columna01{ 
        max-width: 600px;
  

    }
        .header .roww1{
            margin-top: 5px;
            padding: 10px 20px;

        }
            .roww1 .logos{

                width: 70px;
                height: 70px;
                padding: 0px;

            }

    .header .columna02{
        max-width: 600px;
        display: flex;
        
        
        
    }
        .header .roww2{
            margin-top: 2px;
            margin-right: 10px;
            display: flex;
            align-items: initial;
        }
            .roww2 .etiqueta{

                line-height: 20px; 
                text-align: right;               
                width: 200px;
                font-weight:bold;
                display:flex;  
                padding:5px;
                border-radius: 3px;
                margin:0px;
                background-color:#ccc;
                text-align: justify;
                text-justify: inter-word;
                height: 30px;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
                box-shadow:280ms cubic-bezier(0.4, 0, 0.2, 1);      
                background-image: linear-gradient(rgba(248, 248, 248, 0.493) 10%,#eff1ef59 100%);
                background-image: linear-gradient(rgb(240, 237, 232) 10%,#aaaaaa 100%); 
                text-shadow: 0 -1px 0 rgba(158, 158, 158, 0.979); 
                color: rgba(0, 0, 0, 0.719);
              
                }
                             
            
            .botoncs{
                width: 30px;
                height: 30px;
                background: silver;
                cursor: pointer;
                transform: translate(20%, 3%);
                border-radius: 5px;
                background-image: url(../img/candado1.png);

            }
            .botoncs[type="submit"]:hover{
                cursor:pointer;
                background-color: rgb(3, 53, 3);
                transition: .2s;
                background-image: url(../img/candado.png);
                text-align: center;
            }


    .enlaces{
     
        background: rgb(0, 94, 0) ;     
        flex-flow: column wrap; 
        justify-content: flex-end;
        flex-direction: row; 
        padding: 6px; 
        align-items: flex-end;
        display: flex;
        
    }
 
        .enlace1{

            margin: 0px 5px;
            padding: 0px;  
            
            
        }
        .enlace2{

            margin: 0px 5px;
            padding: 0px;
        }
            
        .enlace3{

            margin: 0px 5px;
            padding: 0px;
        }
        
            .anclaHeader{
                text-decoration: none;
                color: white;
                padding: 5px;
                margin: 8px;
                border:  2px;
                border-radius: 5px;
                cursor:pointer;
                            
            }
            .anclaHeader:hover{
                background-color: rgba(160, 224, 160, 0.753);
                text-shadow: 0 -1px 0 rgba(158, 158, 158, 0.5); ;
                transition: .2s;
                border-color: white;
                color:black;
                font-weight: bold;
                /* display: inline-block; */
            }
         

    /* ------------------------------------- SECTION--------------------------------------- */


    .section{
        background-image: url(../img/Fondo.jpg); 
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
        height: 88.2vh;
        width: 100%; 
    }

       
    
    


    /* ---------------------------------------FOOTER------------------------------------- */
    footer{
        width: 100%;
        background: darkgreen;
        color: white;
        bottom: 0;
    }
    .container-footer-all{
    width: 100%;
    max-width:auto;
    margin: auto;
    padding: 10px;/*margen exterior para que los textos no se peguen al borde*/
    }
    .container-body{
        display: flex;
        justify-content: space-between;
    }
    .colum1{
        width: 100%;
    }
    .colum1 h1{
        font-size: 20px;
        color: white;
    }
    .colum1 p{
        font-size: 14px;
        color: white;
        margin-top: 20px;
        text-rendering: auto;
    }
    .colum2{
        width: 50%;
    }
    .colum2 h1{
        font-size: 20px;
        color:white;
        color: white;
    }
    .row{
        margin-top: 10px;
        display: flex;
        width: 36px;
        height: 36px;
        text-decoration:none;   
        
    }
    .row label{
        margin-left: 10px;
        color: white;
        
    }
    .colum3{
        width: 50%;
        
    }
    .colum3 h1{
        font-size: 20px;
        color: white;
    }
    .row2{
        display: flex;
        margin-top: 10px;
    
    }
    .row2 img{
        width: 36px;
        height: 36px;
        
    }
    .row2 label{
        margin-top: 10px;
        margin-left: 20px;
        max-width: 140px;
        
    }
    .container-footer {
    max-width: auto;
    background: rgb(61, 138, 61);
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
    .footer{
        display: flex;
    
    }
    .copyright{
        color: white;
    }
    .copyright a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .information{
        text-decoration: none;
        color: white;
    }
    .span-sub a{
        color: gold;
        font-weight: 400px;
      }
/* -------------FLEXBOX GENERAL------------------------ */
@media (max-width: 800px){
    .container-body{
        flex-direction: row;
        max-height: 900px;
    }
    .colum1{
        margin-right: 20px;
    }
    .colum2{
        margin-right: 20px;
    }
    .colum3{
        margin-right: 20px;
    }
    .header .roww1{
        margin-top: 0px;
        padding: 5px 5px;}
    .wrapper{ 
        height: 75px;
            
            }
    .header .roww1{
                margin-top: 0px;
                padding: 5px 5px;}
               
    .content{
                    justify-content: flex-start;
                
                }
    .footer{

            font-size: 12px;
         } 
    .anclaHeader{
        font-size: 12px;
    }
}

@media (max-width:375px){
    footer{
        width: 100%;
        background: darkgreen;
        color: white;
        bottom: 0;
    }
    .anclaHeader{
        margin-left:0;
        margin-right:0;
        font-size:12px
    }
    .container-body {
        flex-direction: column;
        max-height: 900px;
    }
    .colum1{
        margin-top:20px;
        width:100%
    }
    .colum2{
        width:100%
    }
    .colum3{
        margin-top:10px;
        width:100%;
       
    }


}







