*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    
}


body{

    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    
}

.padre{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    

}   
    /* --------------------------------------HEADER---------------------------------------- */

    .header{
       
        overflow:hidden; 
        background: rgb(0, 94, 0); 
        margin-bottom: 0px;
        max-height: 150px !important;
        /* NUEVO */
        display: flex;
        flex-flow: column nowrap;
        
        
        
    }

    .wrapper{
      

        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        height: 90px;
            
    }

    .header .columna01{ 
        max-width: 600px;
  

    }
        .header .roww1{
            margin-top: 5px;
            padding: 10px 20px;

        }
            .roww1 .logos{

                width: 70px;
                height: 70px;
                padding: 0px;

            }

    .header .columna02{
        max-width: 600px;
        display: flex;
        
        
        
    }
        .header .roww2{
            margin-top: 2px;
            margin-right: 10px;
            display: flex;
            align-items: initial;
        }
            .roww2 .etiqueta{

                line-height: 20px; 
                text-align: right;               
                width: 200px;
                font-weight:bold;
                display:flex;  
                padding:5px;
                border-radius: 3px;
                margin:0px;
                background-color:#ccc;
                text-align: justify;
                text-justify: inter-word;
                height: 30px;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
                box-shadow:280ms cubic-bezier(0.4, 0, 0.2, 1);      
                background-image: linear-gradient(rgba(248, 248, 248, 0.493) 10%,#eff1ef59 100%);
                background-image: linear-gradient(rgb(240, 237, 232) 10%,#aaaaaa 100%); 
                text-shadow: 0 -1px 0 rgba(158, 158, 158, 0.979); 
                color: rgba(0, 0, 0, 0.719);
              
                }
                             
            
            .botoncs{
                width: 30px;
                height: 30px;
                background: silver;
                cursor: pointer;
                transform: translate(20%, 3%);
                border-radius: 5px;
                background-image: url(../img/candado1.png);

            }
            .botoncs[type="submit"]:hover{
                cursor:pointer;
                background-color: rgb(3, 53, 3);
                transition: .2s;
                background-image: url(../img/candado.png);
                text-align: center;
            }


    .enlaces{
     
        background: rgb(0, 94, 0) ;     
        flex-flow: column wrap; 
        justify-content: flex-end;
        flex-direction: row; 
        flex-wrap: wrap;  
        padding: 6px; 
        align-items: flex-end;
        display: flex;
        
    }
 
        .enlace1{

            margin: 0px 5px;
            padding: 0px;  
            
            
        }
        .enlace2{

            margin: 0px 5px;
            padding: 0px;
        }
            
        .enlace3{

            margin: 0px 5px;
            padding: 0px;
        }
        
            .anclaHeader{
                text-decoration: none;
                color: white;
                padding: 5px;
                margin: 8px;
                border:  2px;
                border-radius: 5px;
                cursor:pointer;
                            
            }
            .anclaHeader:hover{
                background-color: rgba(160, 224, 160, 0.753);
                text-shadow: 0 -1px 0 rgba(158, 158, 158, 0.5); ;
                transition: .2s;
                border-color: white;
                color:black;
                font-weight: bold;
                /* display: inline-block; */
            }
         

    /* ------------------------------------- SECTION--------------------------------------- */


    .section{
        background-image: url(../img/Fondo.jpg); 
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden; 
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        height: 67.2vh;
        width: 100%; 
        
    }

        .content{
            
            /* para poner un hijo al lado del otro */
            display: flex; 
            flex: 2 1 auto;

            /*  con  row es para que este uno al lado del otro, y wrap, para que se desplace hacia abajo en cado que en el contenedor no tenga espacio, o cuando se achique una ventana */
            flex-flow: row wrap;

            /* PARA ADD USER */
            justify-content: center;
            align-items: center;
           

        }
        
    
    


    /* ---------------------------------------FOOTER------------------------------------- */

    .footer{
       
        /* position: relative;
        z-index: 2; */
        background-color: rgb(0, 94, 0);
        padding-top: 10px;
        padding-bottom: 5px;
        display: flex;
        width: 100%;
        line-height: 1.5;
        flex-direction: row;
        flex-wrap:wrap;
        position: absolute;
        bottom:0;

    }
    
        .container-body{
            display: flex;
            justify-content: space-between; 
            width: 100% !important; 
            color: white;

        }
            .columna1{
                max-width: 350px;
                display: flex;
                padding-left: 10px;
                

            }
                .row{
                    margin-top: 20px;
                    display: flex;
                    flex: 1 1 40%;
                    
                }
                .row img{
                    width: 30px;
                    height: 30px;
                }
                .row label{
                    margin-left: 20px;
                    max-width: 200px;
                    margin-top: 0px;
                }

            .columna2{
                max-width: 350px;
                display: flex;
                padding-left: 5px;
            }
                .row2{
                    margin-top: 20px;
                    display: flex;
                    flex: 1 1 40%;
                    
                }
                .row2 img{
                    width: 30px;
                    height: 30px;
                }
                .row2 label{
                    margin-left: 20px;
                    max-width: 300px;
                    margin-top: 0px;
                }


               
/* -------------FLEXBOX GENERAL------------------------ */

@media (max-width: 975px){
    .container-body{
        flex-direction: column;
        max-height: 900px;
        /* display:flex; */
        
    
    }
    .enlaces{
        flex-direction: column;

    }
    
    


}

      
@media (max-height: 830px){
  
    .header .roww1{
        margin-top: 0px;
        padding: 5px 5px;}
   

}
@media (max-height: 654px){
  
  
  

}
@media(max-width:600px){
    .wrapper{ 
        height: 75px;
            
            }
    .header .roww1{
                margin-top: 0px;
                padding: 5px 5px;}
               
    .content{
                    justify-content: flex-start;
                
                }
    .footer{

            font-size: 12px;
         } 
    .anclaHeader{
        font-size: 12px;
    }
}







