*{
    padding: 0px;
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body{
    width: 100%;
    background-color:white;
}
header{
    display:flex;
    flex-direction:column;
    color: white;
    position: inherit;
    width: 100%;
    background: rgb(0, 94, 0); 
    align-items:left;
    padding-top: 20px;
}
header h1{
    width: 100%;
    text-align: center;
}
header label{
    color: white;
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
    text-align: justify;
}
#btn_volverinicio{
    width: 130px;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 2%;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: rgb(0,0,0, 0.5);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
}
#cajacomentarios{
    position: relative;
    width: 60%;
    padding-left: 20%;
    text-align: center;
}
.formcomentar{
    width: 100%;
}
.formcomentar form{
    display: flex;
    width: 96%;
    padding: 1%;
    margin: 1%;
    margin-top: 0;
}
.formcomentar form .input_form{
    margin: 5px;
    width: 75%;
}
.formcomentar form .btn_comentar{
    margin: 5px;
    width: 20%;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: rgb(0,0,0, 0.5);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%)
}
.comentario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 20px;
    padding: 1%;
    background-color: rgba(1, 134, 1, 0.1);
    text-align: initial;
}
.header_comentario{
    display: flex;
    flex-direction: row;
    width: 96%;
    background: rgb(0, 94, 0);
    height: 30px;
    margin: 1%;
    padding: 1%;
}
.comentario .nombreusuario_coment{
    font-size: 20px;
    color: white;
    width: 64%;
    padding-left: 1%;
}

.comentario .contt_comment{
    width: 100%;
    padding: 1%;
    margin: 1%;
    margin-left: 2%;
    text-align: justify;
}
.comentario .created_at{
    font-size: 12px;
    background: rgb(0, 94, 0);
    color: white;
    width: 25%;
    height: 30px;
}
.del_btn_com{
    background: rgb(0, 94, 0);
    border: 0;
    font-size: 20px;
    width: 37px;
    height: 24px;
    border: 0;
    color: white;
    margin-top: 3%;
    margin-left: 36px;
}
.respuesta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 90px;
    background-color: rgba(1, 134, 1, 0.1);
    padding-bottom: 10px;
    padding-top: 1px;
    text-align: initial;
}
.header_respuesta{
    display: flex;
    flex-direction: row;
    width: 96%;
    background: rgb(0, 94, 0);
    height: 30px;
    margin: 1%;
    padding: 1%;
}
.respuesta .nombreusuario_coment{
    font-size: 18px;
    background: rgb(0, 94, 0);
    color: white;
    width: 62%;
    padding: 1%;
    padding-top: 2px;
}

.respuesta .contt_comment{
    width: 100%;
    padding: 1%;
    margin: 1%;
    margin-left: 3%;
    text-align: justify;
}

.respuesta .created_at{
    font-size: 12px;
    background: rgb(0, 94, 0);
    color: white;
    width: 28%;
    padding: 1%;
    padding-top: 0;
}

.del_btn_resp{
    border: 0;
    background: rgb(0, 94, 0);
    color: white;
    padding: 1%;
    margin-top: 5px;
}

label{
    font-weight: bold;
    /* display: inline-block; */
    padding: 0px;
    /* margin: 2px; */
    color: rgba(0, 0, 0, 0.719);
}
