*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{

    display: flex;
    flex-flow: column nowrap;
    /* background-image: url(../img/Fondo.jpg); */
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    
}

    /* --------------------------------------HEADER---------------------------------------- */

    .header{
        /* width: 100%; */
        overflow:hidden; 
        background: rgb(0, 94, 0); 
        margin-bottom: 0px;
        max-height: 150px !important;
        /* NUEVO */
        display: flex;
        flex-flow: column nowrap;
        
        
        
    }

    .wrapper{
        /*-------- modificacion de width que estaba al 90% y max.width --------------*/

        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        height: 90px;
        /* align-items:initial;
        max-height: initial; */
        /* max-width: 98%; */
        /* align-items: center; */
        
        
        
    }

    .header .columna01{ 
        max-width: 600px;
        
        

    }
        .header .roww1{
            margin-top: 5px;
            padding: 10px 20px;
            
            

        }
            .roww1 .logos{

                width: 70px;
                height: 70px;
                padding: 0px;

            }





    .header .columna02{
        max-width: 600px;
        display: flex;
        
        
        
    }
        .header .roww2{
            margin-top: 2px;
            margin-right: 10px;
            display: flex;
            align-items: initial;
        }
            .roww2 .etiqueta{

                line-height: 20px; 
                text-align: right;               
                /* position: fixed;
                left: 1050px;
                top: 0px; */
                width: 200px;
                font-weight:bold;
                display:flex;  
                padding:5px;
                border-radius: 3px;
                margin:0px;
                background-color:#ccc;
                text-align: justify;
                text-justify: inter-word;
                height: 30px;
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
                box-shadow:280ms cubic-bezier(0.4, 0, 0.2, 1);
                /* background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#e76a00)); */
                background-image: linear-gradient(rgba(248, 248, 248, 0.493) 10%,#eff1ef59 100%);
                background-image: linear-gradient(rgb(240, 237, 232) 10%,#aaaaaa 100%); 
                text-shadow: 0 -1px 0 rgba(158, 158, 158, 0.979); 
                color: rgba(0, 0, 0, 0.719);
                
                
                }
                             
            
            .botoncs{

                width: 30px;
                height: 30px;
                background: silver;
                cursor: pointer;
                /* position: fixed;
                left: 1265px;
                top: 0px;  */
                transform: translate(20%, 3%);
                border-radius: 5px;
                background-image: url(../img/cerrarsesion.png);

            }
            .botoncs[type="submit"]:hover{
                cursor:pointer;
                background-color: rgb(3, 53, 3);
                transition: .2s;
                background-image: url(../img/cerrarsesion.png);
                text-align: center;
            }


    .enlaces{
        /* display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 9px; 
        align-items: flex-end; */
        background: rgb(0, 94, 0) ;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 9px; 
        align-items: flex-end;
        
    }
 
        .enlace1{

            margin: 0px 10px;
            padding: 0px;  
            
            
        }
        .enlace2{

            margin: 0px 10px;
            padding: 0px;
        }
            
        .enlace3{

            margin: 0px 10px;
            padding: 0px;
        }
        
            .anclaHeader{
                text-decoration: none;
                color: white;
                padding: 5px;
                margin: 8px;
                border:  2px;
                border-radius: 5px;
                cursor:pointer;
                            
            }
            .anclaHeader:hover{
                background-color: rgba(160, 224, 160, 0.753);
                text-shadow: 0 -1px 0 rgba(158, 158, 158, 0.5); ;
                transition: .2s;
                border-color: white;
                color:black;
                font-weight: bold;
            }


    /* ------------------------------------- SECTION--------------------------------------- */


    .section{
        background-image: url(../img/Fondo.jpg); 
        /* para flexbpx display flex */
        display: flex;
        /* background-position: center top; */
        flex-flow: column nowrap;
        overflow: hidden; 
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: absolute;
        /* background-attachment: fixed; */
        /* max-width: 1366px ;
        height: 500px; */
        height: 78vh;
        width: 100%;
        align-items:center;
        
    }

        .content{
            
            /* para poner un hijo al lado del otro */
            display: flex; 
            flex: 2 1 auto;

            /*  con  row es para que este uno al lado del otro, y wrap, para que se desplace hacia abajo en cado que en el contenedor no tenga espacio, o cuando se achique una ventana */
            flex-flow: row wrap;

            /* PARA ADD USER */
            justify-content: center;
            align-items: center;

        }
        .addUserform{
            width:700px;
        }
    


    /* ---------------------------------------FOOTER------------------------------------- */

    footer{
        /* background: rgb(0, 94, 0);
        display: flex;
        flex-flow: column nowrap; 
       
        bottom: 0;  
        width: 100%;        */
        /* max-height: 100px; */
        /* margin-bottom: 0px; */
        position: absolute;
        z-index: 2;
        background-color: rgb(0, 94, 0);
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        width: 100%;
        bottom:0px;
        
        
    }
    
        .container-body{
            display: flex;
            justify-content: space-around; 
            max-width: 1400px !important; 
            color: white;
            
        }
            .columna1{
                max-width: 350px;
                

            }
                .row{
                    margin-top: 20px;
                    display: flex;
                    flex: 1 1 40%;
                    
                }
                .row img{
                    width: 30px;
                    height: 30px;
                }
                .row label{
                    margin-left: 20px;
                    max-width: 200px;
                    margin-top: 0px;
                }

            .columna2{
                max-width: 350px;
                display: flex;
            }
                .row2{
                    margin-top: 20px;
                    display: flex;
                    
                }
                .row2 img{
                    width: 30px;
                    height: 30px;
                }
                .row2 label{
                    margin-left: 20px;
                    max-width: 300px;
                    margin-top: 0px;
                }


            .columna3{
                max-width:350px;
                flex-direction: column;
                flex-wrap: wrap;
                align-self:center; 
                width: 10px 10px;
                padding: 5px;
                box-sizing: border-box;
                
                                
            }
                .pagnav{
                    margin-top: 2px;
                    padding: 5px;
                            
                }

                .pagnav img{
                    width: 20px;
                    height: 20px;
                
                    
                    
                }
                .pagnav .anclafooter1{
                    margin-left: 5px;
                    max-width: 5px;
                    margin-top: 0px;
                    text-decoration: none;
                    color: white;                    
                }

    /* -------------------------------columna 4------------------- */

            .columna4{
                max-width:350px;
                flex-direction: column;          
                flex-wrap: wrap;
                align-self:center;
                width: 10px 10px;
                padding: 5px; 
                box-sizing: border-box;
                
                    
            }

                .pagnav2{
                    margin-top: 2px;
                    padding: 5px;
                                
                }

                .pagnav2 img{
                    width: 20px;
                    height: 20px; 
                
                    
                    
                        
                }
                .pagnav2 .anclafooter2{
                    margin-left: 5px;
                    max-width: 5px;
                    margin-top: 0px;
                    text-decoration: none;
                    color: white; 
                }

                /* -----------------------------ADD USER------------------------ */
                /* form{
                    width:700px;
                    padding:16px;
                    border-radius:10px;
                    margin:auto;
                    background-color:rgba(1, 134, 1, 0.3);
                    display: flex; 
                    flex-wrap: wrap;
                    
                }
                 */
                 form label{
                    width:100px;
                    font-weight:bold;
                    /* display:inline-block; */
                    display: inline-flex; 
                    padding: 0px;
                    /* margin: 2px; */
                    color: rgba(0, 0, 0, 0.719);

                }
                
                form input[type="text"],
                form input[type="password"],
                form input[type="email"],
                form input[type="name"],
                form input[type="tel"]{
                    width:180px;
                    padding:5px 5px;
                    border:1px solid #f6f6f6; 
                    border-radius:3px;
                    background-color:#f6f6f6;
                    margin:8px 0;
                    display:inline-block; 

                }
                
                .Agregar[type="submit"]{
                    width:70%;
                    padding:8px 8px;
                    margin-top:32px;
                    border:none;
                    border-radius:5px;
                    display:block; 
                    color:#fff;
                    background-color: rgb(0,0,0, 0.5);        
                    cursor: pointer;
                    border-radius: 4px;
                    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                    0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);
                    box-shadow:280ms cubic-bezier(0.4, 0, 0.2, 1);
                    /* background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#e76a00)); */
                    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
                 /* background-image: linear-gradient(#f90 10%,#e76a00 100%); */
                    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
                    
                   
                    

                   
                    
                } 
                
                .Agregar[type="submit"]:hover{
                    cursor:pointer;
                    background-color:rgb(0, 94, 0);
                    transition: .2s;
                    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
                    0 4px 5px 0 rgba(0, 0, 0, 0.14),
                    0 1px 10px 0 rgba(0, 0, 0, 0.12);    
                    background-image: linear-gradient(rgba(67, 211, 62, 0.753) 10%,#0669069c 100%);              
                } 


                .wrapper2{
                    box-shadow: 0 0 20px 0 rgba(5, 29, 5, 0.753);
                }



                .wrapper2{
                    padding:1em;
                    width: 800px;
                    max-height: 290px; 
                    
                    
                    width:700px;
                    padding:16px;
                    border-radius:10px;
                    border: solid 1px rgba(255,255,255,05);
                    margin:auto;
                    background-color:rgba(1, 134, 1, 0.1);
                    display: flex; 
                    flex-wrap: wrap;
                    filter: blur (1px);
                    
                   
                
                    
                }
                .forma1{
                    margin:0;
                    padding: 1em;
                
                }
                .forma1{
                    display: grid;
                    grid-template-columns: 1.1fr 1fr;
                }
                .forma1 form .block{
                    grid-column: 1 / 3;
                    
                }

                .btn_Agregar{
                    padding-left: 108px;
                }

/*css anuncios-------------------------------------------------------------------------------------------------------------------*/
                #btn_ShowAgregar{
                    position: relative;
                    right: -318px;
                    top: 65px;
                    width: 130px;
                    padding: 8px 8px;
                    border: none;
                    border-radius: 5px;
                    display: block;
                    color: #fff;
                    background-color: rgb(0,0,0, 0.5);
                    cursor: pointer;
                    border-radius: 4px;
                    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
                    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
                    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
                    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
                }
                #btn_Agregar{
                    position: absolute;
                    right: 55px;
                    top: 162px;
                    width: 140px;
                    padding: 8px 8px;
                    border: none;
                    border-radius: 5px;
                    display: block;
                    color: #fff;
                    background-color: rgb(0,0,0, 0.5);
                    cursor: pointer;
                    border-radius: 4px;
                    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
                    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
                    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
                    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
                }
                #showAgregar{
                    position: relative;
                    top: 130px;
                    left:20px;
                    width: 700px;
                    height: 260px;
                    padding: 20px;
                    align-items:center;
                    border-radius: 0px 0px 10px 10px;
                    border: solid 1px rgba(255,255,255,05);
                    background-color: rgba(1, 134, 1, 0.1);
                }
                #id_titulo{
                    left:20px;
                    position:relative;
                    width: 500px;
                }
                #titulo_agregar{
                    left:20px;
                    position:relative;
                }
                #titulo_anuncio{
                    position: relative;
                    left: 50px;
                    top: 3px;
                }
                #id_comentario{
                    position:relative;
                    top:15px;
                    left:20px;
                    width: 500px;
                    height: 96px;
                }
                #contenido_agregar{
                    position: relative;
                    top:-30px;
                    left:20px;
                }
                #titulo_box{
                    color: white;
                    background-color: rgb(0, 94, 0);
                    position: relative;
                    top: 130px;
                    width: 698px;
                    height: 50px;
                    padding-top: 10px;
                    margin-left: 40px;
                    text-align-last: center;
                    border-radius: 10px 10px 0px 0px;
                }
                .box_anuncios{
                    color: rgba(41, 49, 51);
                    position: relative;
                    top: 75px;
                    width: 765px;
                    max-height: 550px;
                    padding: 5px;
                    align-items:center;
                    border-radius: 0px 0px 10px 10px;
                    border: solid 1px rgba(255,255,255,05);
                    background-color: rgba(1, 134, 1, 0.1);
                    overflow-y: scroll;
                }
                #tit_boxan{
                    background-color: rgb(0, 94, 0);
                    position: relative;
                    top: 75px;
                    width: 764px;
                    color: white;
                    height: 50px;
                    padding-top: 7px;
                    text-align-last: center;
                    border-radius: 10px 10px 0px 0px;
                }
                .anuncio{
                    position: inherit;
                    margin-bottom: 10px;
                    height: 100px;
                    border-bottom: solid 1px #ddd;
                }
                .fecha_anuncio{
                    position:relative;
                    bottom: 18px;
                    right: -400px;
                }
                #del_btn{
                    background-color: rgba(1, 134, 1, 0.1);
                    border: 0px;
                    position: relative;
                    right: -715px;
                    top: -40px;
                }
                .comentario_anuncio{
                    position: relative;
                    top: 10px;
                    left: 20px;
                }
                #btn_back_anuncios{
                    position: relative;
                    width: 140px;
                    padding: 8px 8px;
                    top: 29px;
                    left: 16px;
                    border: none;
                    border-radius: 5px;
                    display: block;
                    color: #fff;
                    background-color: rgb(0,0,0, 0.5);
                    cursor: pointer;
                    border-radius: 4px;
                    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
                    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
                    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
                    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
                }
/*fin css anuncios--------------------------------------------------------------------------------------------------------------*/
/*css topicos-------------------------------------------------------------------------------------------------------------------*/
#nav_topicos ul{
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: 0px;
    width: 100%;
}
#nav_topicos ul li{
    float: left;
}
#nav_topicos ul li #btn_navtopico{
    background-color:rgb(0, 94, 0);
    display: block;
    color: white;
    width: 220px;
    height: 40px;
    border: 0;
    border-color: rgba(41, 49, 51);
    border-left: 1px;
    border-right: 1px;
}
#btn_showaddforum{
    position: relative;
    width: 130px;
    left:475px;
    top: 2px;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: rgb(0,0,0, 0.5);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
}
#showaddforumtitle{
    background-color: rgb(0, 94, 0);
    border-radius: 10px 10px 0px 0px;
    width: 850px;
    height: 50px;
    padding-top: 10px;
    position: relative;
    top: 100px;
    text-align: center;
    color: white;
}

#showaddforum{
    background-color: rgba(1, 134, 1, 0.1);
    align-items: center;
    position: relative;
    top: 100px;
    width: 850px;
    height: 350px;
    box-sizing: content-box;
    max-height: 550px;
    border-radius: 0px 0px 10px 10px;
}
#showaddforum form select{
    background-color: rgba(1, 134, 1, 0.1);
    position: relative;
    border: 0;
    height: 350px;
    text-align: center;
}
#showaddforum form select option{
    border-bottom: 1px;
    width: 180px;
    margin-top:10px;
}
#tituloform{
    position: relative;
    width: 605px;
    top: -330px;
    left: 185px;
}
#contentform{
    position: relative;
    top: -320px;
    left: 185px;
}
#btn_addforum{
    position: relative;
    top: -200px;
    left: 675px;
    width: 130px;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: rgb(0,0,0, 0.5);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
}
#btn_back{
    position: relative;
    top: -233px;
    width: 130px;
    left: 220px;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: rgb(0,0,0, 0.5);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
}
#id_descripcion{
    position: relative;
    left: 20px;
    width: 500px;
}
#box_contenido{
    align-items: center;
    width: 1111px;
    margin-top: 10px;
    max-height: 550px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(1, 134, 1, 0.1);
    overflow-y: scroll;
}
#box_titulo{
    background-color:rgb(0, 94, 0);
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-align-last: center;
}
#box_titulo h1{
    padding-top: 18px;
}
#fecha_titulo{
    position: relative;
    left: 467px;
}
.box_foros{
    text-align: center;
    width: 50%;
    float: left;
    padding-bottom: 2px;
}
.btn_f{
    position:relative;
    background-color: rgba(1, 134, 1, 0.1);
    width: 98%;
    height: 70px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 0px;
    border: 1px solid #fff;
}
.btn_f .titulof{
    position: relative;
    font-size: 20px;
    top: 10px;
    left: 20px;
    width: 200px;
    text-align: left;
}
.btn_f .cant_comentf{
    position: relative;
    font-size: 12px;
    top: 10px;
    left: -10px;
    text-align: right;
}
.titlebox{
    height: 30px;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}
.titlebox label{
    
    float: left;
    width:50%;
}
.block_foro{
    position: inherit;
    height: 74px
}
.del_btn_foro{
    background-color: rgba(1, 134, 1, 0.1);
    border: 0px;
    position: relative;
    top: -70px;
    left: 255px;
    height: 0px;
}

/*fin css topicos-------------------------------------------------------------------------------------------------------------------*/