/*css topicos-------------------------------------------------------------------------------------------------------------------*/
#nav_topicos{
    width: 100%;
    height: 50px;
}

#nav_topicos ul{

    list-style-type: none;
    margin: 5px;
    padding: 0;
}
#nav_topicos ul li{
    float: left;
    width: 20%;
}
#nav_topicos ul li #btn_navtopico{
    background-color: rgb(0, 94, 0);
    display: block;
    color: white;
    width: 100%;
    height: 40px;
    border: 0;
    border-color: rgba(41, 49, 51);
    border-left: 1px;
    border-right: 1px;
}
#btnform_addforum{
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: end;
}
#btn_showaddforum{
    width: 130px;
    padding: 8px 8px;
    border: none;
    display: block;
    color: #fff;
    background-color: rgb(0,0,0, 0.5);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
    margin-right: 5%;
}
#showaddforumtitle{
    background-color: rgb(0, 94, 0);
    border-radius: 10px 10px 0px 0px;
    width: 90%;
    height:340px;
    margin: 5%;
    margin-bottom: 0;
    padding-top: 17px;
    text-align: center;
    color: white;
    height:60px;
}
#showaddforum form{
    width: 100%;
    height: 100%;
    margin:1%;
    padding: 1%;
}
#showaddforum{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(1, 134, 1, 0.1);
    align-items: center;
    width: 90%;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0px 0px 10px 10px;
}
#showaddforum form select{
    width: 15%;
    background-color: rgba(1, 134, 1, 0.1);
    border: 0;
    height: 96%;
    text-align: center;
    float: left;
}
#showaddforum form select option{
    border-bottom: 1px;
    margin:1%;
    padding:1%;
    padding-top: 8%;
    width: 100%;
    height:10%;
}
#showaddforum form #titulo_agregar{
    margin-bottom: 1%;
    margin-left: 6%;
    width: 17%;
}
#showaddforum form #contenido_agregar{
    width: 17%;
    margin-top: 2%;
    margin-left: 6%;
    margin-right: 0;
    margin-bottom: 3%;
}
#showaddforum form #id_titulo{
    border-bottom: 1px;
    width: 56%;
    margin-top: 2%;
    border:0;
}
#showaddforum form #id_descripcion{
    border: 0;
    width: 56%;
    margin: 2%;
}
#tituloform{
    position: relative;
    width: 605px;
    top: -312px;
    left: 185px;
}
#contentform{
    position: relative;
    top: -285px;
    left: 185px;
}
#btn_addforum{
    float: left;
    width: 17%;
    margin-left: 38%;
    margin-top: 5%;
    margin-right: 5%;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: rgb(0,0,0, 0.5);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
}
#btn_back{
    float: left;
    width: 17%;
    margin: 2%;
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: 6%;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: rgb(0,0,0, 0.5);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    box-shadow: 280ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(rgba(25, 196, 20, 0.733) 10%,#0a720a 100%);
    text-shadow: 0 -1px 0 rgb(0 0 0 / 50%);
}
#showaddforum form label{
    float: left;
    margin:1%;
    padding: 1%;
}
#showaddforum form input{
    float: left;
    margin:1%;
    padding: 1%;
}
#showaddforum form textarea{
    float: left;
    margin:1%;
    padding: 1%;
}
#box_contenido{
    align-items: center;
    height: 540px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(1, 134, 1, 0.1);
    overflow: auto;
}
#box_titulo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgb(0, 94, 0);
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-align-last: center;
}

#box_titulo h1{
    padding-top: 15px;
    width: 60%;
    margin-left: 20%;
}
#fecha_titulo{
    width: 100%;
    text-align-last: center;
    font-size: 12px;
}
.box_foros{
    text-align: center;
    width: 50%;
    float: left;
    height: 500px;
    padding: 1%;
    padding-bottom: 2%;
}
.btn_f{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(1, 134, 1, 0.1);
    width: 94%;
    height: 70px;
    border: 1px solid #fff;
    border-right: 0;
}
.btn_f .titulof{
    position: relative;
    font-size: 20px;
    top: 20px;
    left: 20px;
    width: 200px;
    text-align: left;
}
.btn_f .cant_comentf{
    position: relative;
    font-size: 12px;
    top: 10px;
    left: 0px;
    text-align: right;
    max-width: none;
    width: 100%;
    
}
.titlebox{
    height: 30px;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}
.titlebox label{
    float: left;
    width:50%;
}
.block_foro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1%;
    width:100%;
}
.del_btn_foro{
    background-color: rgba(1, 134, 1, 0.1);
    border: 1px solid #fff;
    border-left: 0;
    width: 6%;
    height: 70px;
}
#box_foros{
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 590px;
    background-color: rgba(1, 134, 1, 0.1);
}

/*fin css topicos-------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 800px){
    .btn_f{
        width: 90%;
    }
    .del_btn_foro{
        width:10%;
    }
}

@media (max-width:375px){
    #showaddforum form select option {
        padding-top: 0;
    }
    #showaddforum form select{
        width:100%;
        height:100px;
    }
    #showaddforum form #titulo_agregar{
        margin-bottom: 1%;
        margin-left: 6%;
        width: 94%;
    }
    #showaddforum form #id_titulo{
        float: left;
        margin: 1%;
        padding: 1%;
        width: 96%;
    }
    #showaddforum form #contenido_agregar{
        float: left;
        margin: 1%;
        padding: 1%;
        width: 96%;
    }
    #showaddforum form #id_descripcion{
        border: 0;
        width: 96%;
        margin: 2%
    }
    #btn_back{
        width:120px;
    }
    #btn_addforum{
        width: 120px;
        margin-left: 8%
    }
    #box_titulo h1{
        padding-top: 15px;
        width: 100%;
        margin-left: 0;
    }
    .box_foros{
        width:100%;
        height:250px;
        overflow: scroll;
    }
    #box_foros{
        height:560px;
    }
    .btn_f{
        width: 92%;
    }
    .del_btn_foro{
        width:8%;
    }
}