<div id="main-conteiner"></div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anuncio</title>
    
    <!--llamando el CSS-->
    <link rel="stylesheet" href="{{url_for('static',filename= 'css/main.css')}}">
   

    

</head>
<body>
  
  <div id="texto">
    <p>Junt@s para transformar</p>
  </div>

</body>
</html>



<head>
  
</head>




<!--ID BOTON COLUNGA= POSICIONAMIENTO DE BOTONES-->

<div id="Posicionbotoncolunga">

  <!-- CREACION DE BOTONES EN EL CSS-->
  <div type="button">
    <a  href="https://www.fundacioncolunga.org/" class=BotonColunga >VISITAR PAGINA WEB > </a>
  </div>
</div>



<div id="PosicionUsuario">

  <!-- CREACION DE BOTONES EN EL CSS BOTON DE USURIO-->
  <div type="button">
    <a  href="http://127.0.0.1:5000/login" class=BotonUsuario> Iniciar Sesión </a>
  </div>
</div>

  <!---->