{% extends 'ingreso-layout.html' %}
{% load static %}
{%block section%}
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="{% static 'img/user.png' %}"/>
            </div>
            <!--formulario login-->
            <form name="boxlogin" class="col-12" method="post">
                {% csrf_token %}
                <div class="form-group" id="user-group">
                    <input class='form-control' name='txt_mail' type='email' placeholder='Ingresa tu correo'>
                </div>
                <div class="form-group" id="contrasena-group">
                    <input class='form-control' name='txt_password' type='password'  placeholder='Ingresa tu contraseña'>
                </div>
                <div class="col-12 forgot">
                    <a href="password_reset1">¿Olvido contraseña?</a>
                </div>
                <!-- condicional y for para mostrar mensaje de alerta por credenciales erroneas-->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <button class="btn btn-primary" name="btn_submit" type='submit' value='Ingresar'><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
            </form>
            <!--
            <div class="col-12 forgot">
                <a href="#">Recordar contrasena?</a>
            </div>
        -->
            
        </div>
    </div>
</div>
{%endblock%}
        


