{% extends 'ingreso-layout.html' %}
{% load static %}
{%block section%}
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="{% static 'img/user.png' %}"/>
            </div>
            <div class="txtpr">
                <h3>Nueva contraseña</h3>
                <p>Ingrese su contraseña y luego ingresela nuevamente</p>
            </div>
            <form name="boxlogin" class="col-12" method="post">
                {% csrf_token %}
                <div class="form-group" id="contrasena-group">
                    {form}
                </div>
                <button class="btn btn-primary" name="Update Password" type='submit'><i class="fas fa-sign-in-alt"></i>  Enviar </button>
        </div>
    </div>
</div>
{%endblock%}