{% extends 'editadminlayout.html' %}
{%load static%}
{%block css%}
<link rel="stylesheet" href="{%static 'css-editadmin/AddUser.css'%}">
{%endblock%}
{% block form %}
<div class="content">
    <div class="wrapper2">
        <form action="" method="post">
            {% csrf_token %}
            <div class="forma1">
                    <p>
                        <label>Nombre</label>
                        {{addUserform.first_name}}
                    </p>
                    <p>
                        <label>Apellido</label>
                        {{addUserform.last_name}}
                    </p>
                    <p>
                        <label>Correo</label>
                        {{addUserform.email}}
                    </p>
                    <p>
                        <label>Telefono</label>
                        {{addUserform.telefono}}
                    </p>
                    <p>
                        <label>Cargo</label>
                        {{addUserform.cargo}}
                    </p>
                    <p>
                        <label>Organizacion</label>
                        {{addUserform.organizacion}}
                    </p>
                    <p>
                        <label>Contraseña</label>
                        {{addUserform.password1}}
                    </p>
                    <p>
                        <label>Confirmacion de contraseña</label>
                        {{addUserform.password2}}
                    </p>
                    <!-- condicional y for para mostrar mensaje de alerta por credenciales erroneas-->
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <p class="btn_Agregar">                
                        <button class="Agregar" name="btn_addUser" type="submit" >Agregar Usuario</button>
                    </p>
            </div>
        </form>  
    </div>
</div>
{% endblock form %}

