{% extends 'editadminlayout.html' %}
{% block form %}
<div class="content">
    <div class="wrapper2">
        <form action="" method="post">
            {% csrf_token %}
            <div class="forma1">
                    <p>
                        <label>Nombre</label>
                        {{addUserform.first_name}}
                    </p>
                    <p>
                        <label>Apellido</label>
                        {{addUserform.last_name}}
                    </p>
                    <p>
                        <label>Correo</label>
                        {{addUserform.email}}
                    </p>
                    <p>
                        <label>Contraseña</label>
                        {{addUserform.password1}}
                    </p>
                    <p>
                        <label>Confirmacion de contraseña</label>
                        {{addUserform.password2}}
                    </p>
                    <p class="btn_Agregar">                
                        <button class="Agregar" name="btn_addUser" type="submit" >Agregar Usuario</button>
                    </p>
            </div>
        </form>  
    </div>
</div>
{% endblock form %}

