{% extends 'editadminlayout.html' %}
{%load static%}
{%block css%}
    <link rel='stylesheet' type='text/css' href="{% static 'css-editadmin/EditUser.css' %}">
{%endblock%}
{% block form %}
    <div class="content">
        <div class="wrapper3">
            <div class="forma1">
                <h1>Seleccione usuario a editar</h1>
                <br>
                <form method='post' action='' class="formEditUser">
                    {% csrf_token %}
                    <select name='email' class="selectEdit" {{cant_user}}><!--no cambiar nombre a este boton-->
                        {%for user in user_list %}
                            <option value="{{user.email}}">{{user.first_name}} {{user.last_name}}</option>
                        {%endfor%}
                    </select>
                    <div class="BotonSelect">
                        <input type="hidden" name='showform' value="True">
                        <input type="hidden" name='save' value="False">
                        <button name="btn_get_email" type="submit" class="btn_get_email" >Selecicionar usuario</button>
                    </div>
                   <!--no cambiar nombre a este boton-->
                </form>
            </div>
        </div>
    

        <!--form que mostrara el formulario con un if showform==True-->
        {%if showform == 'True' %}
            <div class="wrapper4">
                <form class="formulario" method='post' action=''>
                    {% csrf_token %}
                    <div class="forma2">
                        {%for field in editUserform %}
                        <p>
                            {{field.label}}
                            {{field}}
                        </p>
                        {%endfor%}
                        <div class="btn_Edit">
                            <input type="hidden" name='showform' value="False">
                            <input type="hidden" name='save' value="True">
                            <button class="btn_EditUser" name="btn_editUser" type="submit" >Guardar cambios</button><!--no cambiar nombre a este boton-->
                        </div>
                    </div>
                </form>
            </div>
        {%endif%}
    </div>
{% endblock form %}