<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css-editadmin/EditAdminlayout.css'%}">
        <script src="{%static 'http://code.jquery.com/jquery-latest.js' %}"></script>
        <script src="{% static 'header.js' %}"></script>
        {%block css%}
        {%endblock%}
        <title>Panel de administracion | COLUNGA</title>
    </head>

    <body>
        <div id="background">
<!-- ---------------------------------- HEADER --------------------------------------------- -->
            <header class="header">
                <div class="wrapper">
                    <div class="columna01">
                        <div class="roww1">
                            <img class="logos" src="{% static 'imgeditadmin/logo.png' %}"> </a>
                        </div> 
                    </div>

                    <div class="columna02">
                        <div class="roww2">
                            <label class="etiqueta" name="txt_nomuser">{{username}}</label>
                            <form action=""method="POST">
                                {% csrf_token %}
                                <button type="submit" onclick="location.href='logout'" class="botoncs" name="btn_logout" value="logout" id="btn_logout">
                                    <img src="{% static 'imgeditadmin/cerrarsesion.png'%}" alt="logoutimg">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            
            
                <nav class="enlaces">
                        <a class="anclaHeader desaparece" href="addUser.html">Agregar Usuario</a>
                        <a class="anclaHeader desaparece" href="editUser.html">Editar Usuario </a>
                        <a class="anclaHeader desaparece" href="removeUser.html">Eliminar Usuario </a>
                        <a class="anclaHeader desaparece" href="inicio.html">Inicio</a>
                </nav>
            </header>
            <section class="section">
               
                    {% block form %}
                    {% endblock form %}
        
            </section>
            <div class="footer">
                <div class="container-body">
                    <div class="columna1">
                        <div class="row">
                            <img src="{% static 'imgeditadmin/envelope.svg'%}">
                            <label>Dirección: Av. Bustamante 26
                                Providencia, Santiago
                            </label>
                        </div>
                    </div>
                    <div class="columna2">
                        <div class="row2">
                            <img src="{% static 'imgeditadmin/envelope.svg'%}">
                            <label>
                            Teléfono: +56 222043350/ +56 222748547
                            Contacto: contacto@fundacioncolunga.org
                            </label>
                        </div>       
                    </div>
                </div>      
            </div>
        </div>
    </body>
</html>

