{% extends 'editadminlayout.html' %}
{%load static%}
{%block css%}
    <link rel='stylesheet' type='text/css' href="{% static 'css-editadmin/removeuser.css' %}">
{%endblock%}
{% block form %}
<div class="content">
    <div class="wrapper5">
        <div class="formaRemove">
            <h1 id=list_user_label>Seleccione usuario a eliminar</h1>
            <br>
            <br>
            <form method='post' action='' class="formEditUser">
                {% csrf_token %}
                <select name='user_list' class="selectRemove" size="7" > <!--no cambiar nombre a este boton-->
                    {%for user in list_user%}
                    <option value="{{user.email}}">{{user.first_name}} {{user.last_name}}</option>
                    {%endfor%}
                </select>
                <!-- condicional y for para mostrar mensaje de alerta por credenciales erroneas-->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="botonremover">
                    <button onclick="return confirm('¿Desea eliminar este usuario?')" name="btn_removeUser" type="submit" class="btn_Ruser" >Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock form %}
