{% extends 'editadminlayout.html' %}
{% block form %}
<label id=list_user_label>Usuarios:</label>
<form method='post' action=''>
    {% csrf_token %}
    <select name='user_list' {{cant_user}}> <!--no cambiar nombre a este boton-->
        {%for user in list_user%}
        <option value="{{user.email}}">{{user.first_name}} {{user.last_name}}</option>
        {%endfor%}
    </select>
    <button name="btn_removeUser" type="submit" >Eliminar usuario</button> <!--no cambiar nombre a este boton-->
</form>
{% endblock form %}