{% extends 'inicio-layout.html' %}
{% load static %}
{%block css-link%}
<link rel='stylesheet' type='text/css' href="{% static 'css-inicio/inicio-inicio.css' %}">
{%endblock%}
{%block content %}
        <div class="box1">
            <div id="linkimg">
                <a id="zoomimg" name="btn_zoom" href="https://zoom.us/es-es/meetings.html"><img src="{%static 'img/zoom.png' %}" alt="zoomimg" /></a>

                <!--Boton ColungaHub-->
                <a id="hubimg" name="btn_hub" href="inicio-hub.html"><img src="{%static 'img/hub.png' %}" alt="hubimg" /></a>
                <!--caja de anuncios-->
            </div>
        </div>
        <div class="box1">
                <div id="tit_boxanini">
                    <h1>Anuncios de Colunga</h1>
                </div>
                <div class="box_anuncios_inicio">
                    {% for anuncio in Anuncios%}
                        <div class="anuncioini">
                            <h2 class="titulo_anuncioini" name="titulo_anuncioini">{{anuncio.titulo}} </h2>
                            <label class="comentario_anuncioini" name="comentario_anuncioini">{{anuncio.comentario}}</label>
                            <label class="fecha_anuncioini" name="fecha_anuncioini">{{anuncio.fecha}}</label>

                        </div>
                    {% endfor %}
                </div>
        </div>
{%endblock content%}