<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel='stylesheet' type='text/css' href="{% static 'css-inicio/inicio-layout.css' %}">
        {%block css-link%}
        {%endblock%}
        <meta charset='utf-8'/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='http://code.jquery.com/jquery-latest.js'></script>
        <script src="{% static 'header.js' %}"></script>
        <title>{% block title %}{% endblock title %} | COLUNGA</title>
    </head>
    <body>
        <header class="header">
            <div class="wrapper">
                <div class="columna01">
                    <div class="roww1">
                        <img class="logos" src="{% static 'img/logo.png' %}"> </a>
                    </div> 
                </div>

                <div class="columna02">
                    <div class="roww2">
                        <label class="etiqueta" name="txt_nomuser">{{username}}</label>
                        <form action=""method="POST">
                            {% csrf_token %}
                            <button type="submit" onclick="location.href='logout'" class="botoncs" name="btn_logout" value="logout" id="btn_logout">
                                <img src="{% static 'imgeditadmin/cerrarsesion.png'%}" alt="logoutimg">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        
        
            <nav class="enlaces">
                    <a class="anclaHeader desaparece" href="inicio.html">Inicio</a>
                    <a class="anclaHeader desaparece" href="inicio-topicos.html">Foros</a>
                    <a class="anclaHeader desaparece" href="inicio-anuncios.html">Anuncios</a>
                    {%if is_staff == True %}
                        <a class="anclaHeader desaparece" href="addUser.html">Panel Admin</a>
                    {%endif%}
            </nav>
        </header>
        <div class="clearfix"></div>
        <section class="section">
            {% block content %}
            {% endblock content %}
        </section>
        <div class="footer">
            <div class="container-body">
                <div class="columna1">
                    <div class="row">
                        <img src="{% static 'imgeditadmin/envelope.svg'%}">
                        <label>Dirección: Av. Bustamante 26
                            Providencia, Santiago
                        </label>
                    </div>
                </div>
                <div class="columna2">
                    <div class="row2">
                        <img src="{% static 'imgeditadmin/envelope.svg'%}">
                        <label>
                        Teléfono: +56 222043350/ +56 222748547
                        Contacto: contacto@fundacioncolunga.org
                        </label>
                    </div>       
                </div>
            </div>      
        </div>
    </body>
</html>