{% extends 'inicio-layout.html' %}
{% load static %}
{%block css-link%}
{%endblock%}
{%block content %}
    <div class="memberbox">
        <div class="titlelist">
            <h1>Hub</h1>
        </div>
        <div class="contentlist">
            {% for userorg in usuarioslist %}
                <div class="member">
                    {% for user in userorg %}
                        <h3>{{user.organization}}</h3>
                        <label class="cargo">{{user.cargo}}</label>
                        <label class="nombre">{{user.first_name}}</label>
                        <label class="apellido">{{user.last_name}}</label>
                        <label class="telefono">{{user.telefono}}</label>
                        <label class="email">{{user.email}}</label>
                    {%endfor%}
                </div>
            {%endfor%}
        </div>
    </div>
{%endblock%}