{% extends 'inicio-layout.html' %}
{% load static %}
{%block content %}
    <nav id="nav_topicos">
            <form method="post" action="">
                {% csrf_token %}
                <ul>
                {% for topico in navtopicos %}
                    <li><button id="btn_navtopico"type="submit" name="nav_topico" value="{{topico.title}}">{{topico.title}}</button></li>
                {% endfor %}
                </ul>
            </form>
    </nav>
    <div class="clearfix"></div>
    {%if showaddforum == 'True'%}
        <div id="showaddforumtitle">
            <h2>Crear Foro</h2>
        </div>
        <div id="showaddforum">
            <form method="post" action="">
                {% csrf_token %}
                <select name='topico_seleccionado' {{cant_topicos}}> <!--no cambiar nombre a este boton-->
                    {%for topico in navtopicos%}
                        <option value="{{topico.title}}">{{topico.title}}</option>
                    {%endfor%}
                </select>
                <div id="tituloform">
                    <label id="titulo_agregar">Titulo</label>
                    {{formaddForum.titulo}}
                </div>
                <div class="clearfix"></div>
                <div id="contentform">
                    <label id="contenido_agregar">Descripción</label>
                    {{formaddForum.descripcion}}
                </div>
                <button id="btn_addforum"type="submit" name="addforum" value="True">Crear Foro</button>
                
            </form>
            <input id="btn_back" type="button" onclick="location.href='inicio-topicos.html'" value="Atras"/>
        </div>
    {% endif %}
    <div class="clearfix"></div>
    {% if foros == 'True' %}
        <form method="post" action="">
            {% csrf_token %}
            <button id="btn_showaddforum"type="submit" name="showaddforum" value="True">Crear Nuevo Foro</button>
        </form>
        <div id="box_contenido">
            <div id="box_titulo">
                <h1>{{topico_seleccionado.title}}</h1>
                <label id="fecha_titulo">{{topico_seleccionado.updated_at}}</label>
            </div>
            <div class="titlebox">
                <label>Mis Foros</label>
                <label>Foros</label>
            </div>
            <div class='box_foros'>
                <form method="post" action="">
                    {% csrf_token %}
                    {%for foro in misforos%}
                        <div class="block_foro">
                            <!--replies totales-->
                            <button class="btn_f" type="submit" name="foro_seleccionado"  value="{{foro.id}}">
                                <p class="titulof">{{foro.title}}</p>
                                <p class="cant_comentf">comentarios: {{foro.cant_coment}}</p>
                                <button type="submit" class="del_btn_foro" value="True" name="del_foro">
                                    <img src="{%static 'img/del-icono.png' %}"alt="del-icono"/>
                                    <input type="hidden" name="id_foro" value="{{foro.id}}"/>
                                    <input type="hidden" name="topico_seleccionado" value="{{foro.id_topic_id}}"/>
                                </button>
                                
                            </button>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class='box_foros'>
                
                <form method="post" action="">
                    {% csrf_token %}
                    {%for foro in otrosforos %}
                        <!--replies totales-->
                        <button class="btn_f" type="submit" name="foro_seleccionado"  value="{{foro.id}}">
                            <p class="titulof">{{foro.title}}</p>
                            <p class="cant_comentf">comentarios: {{foro.cant_coment}}</p>
                        </button>
                    {% endfor %}
                </form>
            </div>
            
        </div>
    {% endif %}
{%endblock content %}
</html>