{% extends 'inicio-layout.html' %}
{%block content %}
            <a name="btn_zoom" href="{zoomhref}"><img src="zoom.jpg" alt="zoomimg" /></a>
            <!--Boton ColungaHub-->
            <a name="btn_hub" href="{hubhref}"><img src="hub.jpg" alt="hubimg" /></a>
            <!--caja de anuncios-->

        <div id=box0>
            <div id=content>
                {% for anuncio in anuncios %}
                    <div id="block_anuncio">
                    <!--ventana emergente que habra el contenido del anuncio?-->
                    </div>
                {% endfor %}
            </div>
        </div>
{%endblock content%}