{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.css"><!-- activa lo que descarge del css l5 y l6-->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colunga.org</title>
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
</head>
<header>
    <img src="{% static 'img/logo1.png'%}" alt="my image">
    <nav>
        <ul>
            <li>                
                <button type="button" class="btn btn-success btn-lg">
                    <i class="fas fa-house-user"></i> Inicio
                </button>
                <button type="button" class="btn btn-success btn-lg">
                    <i class="far fa-comments"></i> Foro
                </button>
                <button type="button" class="btn btn-success btn-lg">
                    <i class="fas fa-bullhorn"></i> Anuncio
                </button>
            </li>

        </ul>
    </nav>
</header>
<script src="/static/js/bootstrap.js"></script>
<body>
    <!-- Portfolio Item 1-->
    
    <a href="https://zoom.us/download?os=linux">
        <img class='zoom' src="{% static 'img/zoom.jpg'%}" alt="zoom">
    </a>

    <!-- Portfolio Item 2-->
    <a href="#">
        <img class='bn' src="{% static 'img/img5.jpg'%}" alt="zoom">
    </a>
    <footer>
        <div class="container-footer-all">
            <div class="container-body">
                <div class="colum1">
                        <p>Dirección:Av.Bustamante 26</p>
                        <p>Providencia, Santiago.</p>
                </div>
                <div class="colum2">
                        <!-- <h1>Redes sociales</h1>
                        fila1-->
                        <!-- <div class="row">
                            <img src="icon/facebook.png" alt="">
                            <label >Facebook</label>
                        </div> --> 
                        <!--fila2-->
                        <!-- <div class="row">
                            <img src="" alt="">
                            <label >siguenos en Twitter</label>
                        </div>
                        fila3-->
                        <!-- <div class="row">
                            <img src="" alt="">
                            <label >siguenos en instagram</label>
                        </div>
     -->
                        
                </div>
                <div class="colum3">
                        <p>Teléfono:+56 222043350/ +56 222748547</p>
                        <p>Contacto: <span class="span-sub">contacto@fundacióncolunga.org</span></p>
                        
                        <!--primera fila-->
                        <!-- <div class="row2">
                            <img src="icon/house-user-solid.svg" alt="">
                            <label >La republica.......</label>
                        </div> -->
                        <!--fila2-->
                        <!-- <div class="row2">
                            <img src="" alt="">
                            <label >+569 887654321.</label>
                        </div> -->
                        <!--fila3-->
                        <!-- <div class="row2">
                            <img src="" alt="">
                            <label >alguien@algo.com</label>
                        </div> -->
                                                
                </div><!-- colum3-->        
            </div><!-- container-body  tab-->
            
            <!--creo container footer-->          
            
            </div><!--container-footer-all 2 tab-->
            <div class="container-footer">
                <div class="footer">
                    <div class="copyright">
                        © Todos los derechos reservados | <a href="">Colunga.org</a>
                    </div> 
                    <!-- <div class="information">
                        <a href="">politica</a>|
                        <a href="">cosas</a>|
                        <a href="">etc</a>
                    </div> -->
            </div><!--.footer-->
            </div><!-- container-footer-->
    </footer>
    
</body>

